.jumbotron
      .inner
        h1 Startup + Limoges 

#article-list.container.home
  
 
  section#article.row
    
    .span12
        .accordion#accordion
            
          - for (var i = 0,ii=list.slice(0, 5).length; i < ii; i++) 
            .accordion-group
                  .accordion-heading
                    h3
                      a.accordion-toggle(data-toggle="collapse",data-parent="#accordion",href="#collapse"+i) 
                        small=list[i].datestring
                        #{list[i].name}
                  - if (i==ii-1)
                    div(id="collapse"+i).collapse.in
                  - else
                    div(id="collapse"+i).collapse.in
                  
                        .accordion-inner
                            .span2.datefield
                                code=list[i].datestring
                            .span6
                                #content!=list[i].excerpt
           